@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 400;
    src: url('https://fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 700;
    src: url('https://fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
  }
  
  .godo * {
   font-family: 'Godo', sans-serif;
  }

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    font-family: 'Godo';
    font-weight: 700;
    color: rgb(var(--foreground-rgb));

}

.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer components{
    .basic-button {
        @apply w-full py-3 m-2 bg-orange-500 border-white hover:border-opacity-100 border-2 border-opacity-0 text-white rounded-md duration-300 hover:shadow-floating hover:-translate-y-1 hover:-translate-x-0.5 transition-all hover:bg-orange-500
    }
}

.loader {
    --r1: 154%;
    --r2: 68.5%;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
            radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%, rgb(249 115 22) 80%),
            radial-gradient(var(--r1) var(--r2) at bottom,rgb(249 115 22)  79.5%,#0000 80%),
            radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,rgb(249 115 22)  80%),
            #ccc;
    background-size: 50.5% 220%;
    background-position: -100% 0%,0% 0%,100% 0%;
    background-repeat:no-repeat;
    animation: l9 3s infinite linear;
}
@keyframes l9 {
    33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
    66%  {background-position: -100%  66%,0%   66% ,100% 66% }
    100% {background-position:    0% 100%,100% 100%,200% 100%}
}

